<div id="<%= dom_id kitetrip_route %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Kitetrip:</strong>
    <%= kitetrip_route.kitetrip_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= kitetrip_route.start_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End date:</strong>
    <%= kitetrip_route.end_date %>
  </div>
</div>
