<% content_for :title, "Editing kitetrip route" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing kitetrip route</h1>

  <%= render "form", kitetrip_route: @kitetrip_route %>

  <%= link_to "Show this kitetrip route", [@kitetrip, @kitetrip_route], class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to kitetrip routes", kitetrip_kitetrip_routes_path(@kitetrip), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
